[{:re #"happy!!!"
  :export " ٩(◕‿◕｡)۶ "}
 ;; if you copy: "!greet john", then paste to get back "Hello there, John!"
 {:re #"!greet.(.+)"
  :export (fn [[_ name]]
            (str "Hello there, " (str/caplitalize name) "!"))}]
